.widget {
  width: 150px;
  height: 150px;
  background-color: rgb(154, 59, 175);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
